.page-container .page-content #image-name-url {
    display: block;
    width: 60%;
    margin: 0 auto;
    resize: none;
    padding: 0;
    box-sizing: border-box;
}
.page-container .page-content button {
    display: inline;
    height: 5%;
    margin: 0 auto;
    width: 20%;
    border: 0;
}